/* Add Neo Sans W1G font import */
@font-face {
  font-family: "Neo Sans W1G";
  src: url("../../public/fonts/NeoSansW1G-Regular.otf") format("otf"), url("../../public/fonts/NeoSansW1G-Regular.otf")
    format("otf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neo Sans W1G";
  src: url("../../public/fonts/NeoSansW1G-Medium.otf") format("otf"), url("../../public/fonts/NeoSansW1G-Medium.otf")
    format("otf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neo Sans W1G";
  src: url("../../public/fonts/NeoSansW1G-Bold.otf") format("otf"), url("../../public/fonts/NeoSansW1G-Bold.otf")
    format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@tailwind base; /* Importa estilos base do Tailwind CSS */
@tailwind components; /* Importa estilos de componentes do Tailwind CSS */
@tailwind utilities; /* Importa utilitários do Tailwind CSS */

/* Definindo fontes personalizadas usando @font-face */
@layer base {
  @font-face {
    font-family: "BLOVERLY";
    src: url("../../public/fonts/BLOVERLY.ttf");
  }

  @font-face {
    font-family: "BetterSignatureFont";
    src: url("../../public/fonts/BetterSignatureFont.ttf");
  }

  @font-face {
    font-family: "Montserrat";
    src: url("../../public/fonts/Montserrat.ttf");
  }

  html {
    font-size: 16px;
  }

  @media (min-width: 768px) {
    html {
      font-size: 18px;
    }
  }
}

/* Desabilitar o estilo padrão do navegador para o input do tipo date */
input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

/* Ajustes de layout global */
.max-container {
  max-width: 1920px;
  margin: 0 auto;
}

body {
  zoom: 1.02;
}

